.layout {
  min-height: 100vh;
  background-color: var(--color-scheme-background);
}

.contentWrapper {
  margin: 0 auto;
}

/* main content */
.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-scheme-background);
}

.mainInner {
  width: 1128px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .mainInner {
    max-width: 768px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .contentWrapper {
    display: flex;
    width: 1440px;
  }

  /* .main {
    margin-left: 312px;
  } */

  .mainInner {
    max-width: 1128px;
    margin: 0;
  }
}
